
<div class="container">
  <h1>Cocktails Listing</h1>

  <% @cocktails.each do |cocktail| %>
  <div class="card">
    <ul>
      <li>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <% if cocktail.photos? %>
          <%= cl_image_tag cocktail.photos.first.path, width: 600, height: 150, crop: :fill %>
        <% end %>
      </li>
    </ul>
  </div>
  <% end %>

</div>
